  <!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm rd-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="Dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="About">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="Help">Help</a>
    </li>
  </ul>

</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

